In [124]:
import pandas as pd 
 
from collections import Counter

In [105]:
df = pd.DataFrame(columns=['id'])

Если id начинается с 0, значит тип данных str

In [106]:
df['id'] = ['7412567', '12345', '84597', '7652147', '012345', '084597', '048597',]
df

        id
0  7412567
1    12345
2    84597
3  7652147
4   012345
5   084597
6   048597

## Функция

Можено сделать датасет и посчитать количество одинковых элементов. Способ удобен тем, что можно будет строить грфики, дополнительно обрабатывать данные и так далее. Иначе говоря, будут табличные данные, с которыми можно работать.

In [162]:
def counter_1(n_customers):
    a = []
    for i in range(n_customers):
        if df.loc[i, 'id'][0]=='0':
            a.append(sum(map(int, list(df.loc[i, 'id']))))
    data = pd.DataFrame(data=a)
    return data # data.value_counts()

In [163]:
how_many_cliets = counter_1(7)
display(how_many_cliets)
how_many_cliets.value_counts()

    0
0  15
1  33
2  33

33    2
15    1
dtype: int64

Можно сделать словарь, где ключом будет номер группы, а значением - количество клиентов в этой группе

In [141]:
def counter_1(n_customers):
    a = []
    for i in range(n_customers):
        if df.loc[i, 'id'][0]=='0':
            a.append(sum(map(int, list(df.loc[i, 'id']))))
    return Counter(a)

In [142]:
how_many_cliets = counter_1(7)

In [143]:
how_many_cliets

Counter({15: 1, 33: 2})

Здесь можно вызват номер группы, и узнать, сколько в ней клиентов

In [144]:
how_many_cliets[15]

1

## Функция

Методы можно выбрать как в первой функции

In [167]:
def counter_2(n_customers, n_first_id):
    a = []
    for i in range(n_first_id, n_customers+n_first_id):
        a.append(sum(map(int, list(df.loc[i, 'id']))))
    data = pd.DataFrame(data=a)
    return data # data.value_counts()

In [168]:
how_many_cliets = counter_2(5, 2)
display(how_many_cliets)
how_many_cliets.value_counts()

    0
0  33
1  32
2  15
3  33
4  33

33    3
15    1
32    1
dtype: int64

In [174]:
def counter_2(n_customers, n_first_id):
    a = []
    for i in range(n_first_id, n_customers++n_first_id):
        a.append(sum(map(int, list(df.loc[i, 'id']))))
    return Counter(a)

In [175]:
how_many_cliets = counter_2(5, 2)
how_many_cliets

Counter({33: 3, 32: 1, 15: 1})

In [176]:
how_many_cliets[33]

3